<div class="main-outer-wrapper">
    <div class="main-content">
          <h2>{{ page.title }}</h2>
          <p> Professional Profile
Hippolyte Asah is a highly skilled and bilingual Systems Administrator with over 8 years of extensive DevOps experience in AWS infrastructure. With a proven track record in notable roles at companies such as Bell Canada, Opterus Inc, FIS Global, Highgate Systems, Liberty Utilities, Royal Bank of Canada, and Canon Canada, he brings a wealth of expertise in infrastructure automation, containerization, system administration, network support, and cloud migration.

<h3>Key Skills</h3>
DevOps: Docker, Kubernetes, Terraform, Ansible
Operating Systems: Windows Server, RedHat Linux, UNIX, SOLARIS
Cloud Technologies: AWS, Azure, OpenStack, GCP, VMWare
Databases: Oracle, MySQL Developer, Toad
Web Servers: Tomcat, IBM WebSphere
CI/CD Tools: Git, Terraform, GitHub Action, GitLab, Jenkins
<h3>Other Skills </h3>
Lead DevOps and Cloud Engineer
Object-Oriented Analysis, Design
Scrum framework, Agile, Jira, ALM, SDLC
Product improvement planning, release, UAT, and Production support
Problem-solving and risk assessment
Migration expertise: Private to Public Cloud (Azure, AWS, GCP <br/>              
<h3>Education/Certifications</h3>    
Kubernetes Certified Application Developer (CKAD)
RedHat Enterprise Linux Certified Systems Administrator
AWS Certified Solutions Architect - Associate
Cisco Certified Network Admin (CCNA/CCNP)
CompTIA Network+, A+, Security +
VMWare Certified
Oracle Business Intelligence Enterprise Edition (OBIEE)
MSc in Electronics Engineering
BSc in Electronics
<h3>Professional Experience</h3>
Bell Canada (October 2020 – October 2023)
Role: Lead Infra-As-Code & DevOps Engineer
Led AWS/RedHat OpenShift Infrastructure design and deployment.
Automated infrastructure as code on MS Azure.
Extensive experience with Linux Containers (Docker), Kubernetes, and IaC- Terraform.
Opterus Inc (10/2017 – 10/2020)
Role: Lead DevOps Engineer
Led the migration from VMware to AWS.
Implemented Docker, Kubernetes, and automated configuration management using Ansible.
Managed public and private cloud environments (Azure, AWS, GCP, VMware, OpenStack).
FIS Global (10/2016 – 10/2017)
Role: DevOps Engineer
Established and reviewed business and technical requirements.
Worked with AWS, Red Hat Enterprise Linux, and automated deployment pipelines.
Highgate Systems (11/2014 – 10/2016)
Role: Lead DevOps Engineer/ Linux Systems Admin
Managed a team for data center upgrade and migration.
Proficient in Docker, Kubernetes, Jenkins, VMWare, Ansible, and CI/CD.
Liberty Utilities – Oakville (12/2011- 11/2014)
Role: System Administrator
Maintained and monitored Linux and RedHat server environments.
Administered user accounts, Managed File Systems, and provided LDAP and Active Directory administration.
Royal Bank of Canada (10/2009 – 12/2011)
Role: Bilingual Technical Analyst (RedHat & Windows)
Operated data center, monitored network performance, and provided support for network problems.
Supported remote site configurations and deployments.
Canon Canada (04/2008 – 10/2009)
Role: Bilingual Technical Analyst (RedHat & Windows)
Provided technical phone support on Canon products and troubleshooted software and hardware issues.
Successfully resolved issues without requiring escalation.
Hippolyte Asah is a Canadian citizen currently residing in Toronto, ON, </p>      


    </div>
     {% include secondary-sidebar.html %}
   
</div>
