<div class="main-outer-wrapper">
    <div class="main-content">
          <h2>{{ page.title }}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisi, sagittis a odio sed, efficitur ullamcorper ante. 
              Pellentesque vel diam mi. Donec ultricies leo at nisi tempor vulputate. Duis at neque quis quam sollicitudin semper 
              non vitae mauris. Proin ac lectus lorem. Pellentesque molestie convallis lorem in pulvinar.</p>      


    </div>
     {% include secondary-sidebar.html %}
   
</div>
