<div class="main-outer-wrapper">
    <div class="main-content">
          <h2>{{ page.title }}</h2>
          <p> Professional Profile
Hippolyte Asah is a highly skilled and bilingual Systems Administrator with over 8 years of extensive DevOps experience in AWS infrastructure. With a proven track record in notable roles at companies such as Bell Canada, Opterus Inc, FIS Global, Highgate Systems, Liberty Utilities, Royal Bank of Canada, and Canon Canada, he brings a wealth of expertise in infrastructure automation, containerization, system administration, network support, and cloud migration.

<h3>Key Skills</h3>
DevOps: Docker, Kubernetes, Terraform, Ansible
Operating Systems: Windows Server, RedHat Linux, UNIX, SOLARIS
Cloud Technologies: AWS, Azure, OpenStack, GCP, VMWare
Databases: Oracle, MySQL Developer, Toad
Web Servers: Tomcat, IBM WebSphere
CI/CD Tools: Git, Terraform, GitHub Action, GitLab, Jenkins
<h3>Other Skills </h3>
Lead DevOps and Cloud Engineer
Object-Oriented Analysis, Design
Scrum framework, Agile, Jira, ALM, SDLC
Product improvement planning, release, UAT, and Production support
Problem-solving and risk assessment
Migration expertise: Private to Public Cloud (Azure, AWS, GCP <br/>              
<h3>Education/Certifications</h3>    
Kubernetes Certified Application Developer (CKAD)
RedHat Enterprise Linux Certified Systems Administrator
AWS Certified Solutions Architect - Associate
Cisco Certified Network Admin (CCNA/CCNP)
CompTIA Network+, A+, Security +
VMWare Certified
Oracle Business Intelligence Enterprise Edition (OBIEE)
MSc in Electronics Engineering
BSc in Electronics
<h3>Professional Experience</h3>
In his remarkable 15-year journey, Hippolyte Asah emerged as a trailblazer in the ever-evolving landscape of technology. With an unwavering spirit, he undertook roles that transformed challenges into triumphs.

<h3> Mastering the Cloud:</h3>
Hippolyte's foray into cloud technology marked the dawn of innovation. From leading infrastructure design and deployment in AWS/RedHat OpenShift to orchestrating the migration from VMware to AWS, he navigated the clouds with finesse. His crowning achievement was automating infrastructure across MS Azure, showcasing prowess in Linux Containers, Docker, Kubernetes, and Terraform.

<h3>DevOps  Maestro:</h3>
As a DevOps Engineer, Hippolyte became a virtuoso in automated deployment pipelines. His meticulous review of business and technical requirements laid the foundation for seamless operations. Managing a team for a data center upgrade, he exhibited proficiency in Docker, Kubernetes, Jenkins, VMWare, Ansible, and CI/CD, creating an orchestra of efficiency.

<h3> Guardian of Systems:</h3>
In the realm of system administration, Hippolyte emerged as a guardian, diligently monitoring Linux and RedHat server environments. Administering user accounts, managing file systems, and providing adept LDAP and Active Directory administration showcased his commitment to stability.

<h3> Bilingual Tech Virtuoso:</h3>
Operating data centers, troubleshooting network performance, and providing bilingual technical support, Hippolyte showcased versatility at every turn. His stint at Canon Canada was a testament to his problem-solving prowess, consistently resolving issues without escalation.

Hippolyte's Canadian spirit, coupled with his technological wizardry, continues to inspire. Currently residing in Toronto, ON, he leaves an indelible mark—a legacy of innovation, transformation, and unwavering dedication.       
          </p>      


    </div>
     {% include secondary-sidebar.html %}
   
</div>
