 <article>
    <div class="main-content">
      {% for post in site.posts %}
       <div class="post-preview">
          <h1> <a href="/posts/airflow-taskflow/">{{ post.title }} </a></h1>
          <div class="post-content">
              <p> {{ post.excerpt }}</p>
          </div>
          <div class="post-meta text-muted d-flex justify-content-between">
              <div> <i class="far fa-calendar fa-fw"></i> 
                  <span class="timeago " data-toggle="tooltip" data-placement="bottom" title="">Jul 31, 2022<i class="unloaded">{{ post.date | date: "%Y-%m-%d" }}</i>
                  </span> <i class="far fa-clock fa-fw"></i> 
                  <span class="readtime" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="542 words">3 min</span>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
    <div id="panel-wrapper">
        Secondary sidebar
    </div> 
   
  </article>
